DATABASE_URL="yourdburl"
JWT_SECRET="your-secret-code"
PORT="your-PORT-SERVER"
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxxx    # from Midtrans dashboard
MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxx    # from Midtrans dashboard
MIDTRANS_IS_PRODUCTION=false               # true in production